{% extends 'sales/base.html' %}
{% block content %}

<table class="table">

    <thead>
        <th>Date</th>
        <th>Items Sold</th>
        <th>Total Price</th>
        <th>Commission Earned</th>
    </thead>

    <tfoot>
        <tr>
            <td>
                <h3>Totals:</h3>
            <td></td>
            <td>
                ${{ totals }}
            </td>
            <td>
                ${{ commissionsTotals }}
            </td>
            </td>
        </tr>
    </tfoot>

    {% for order in Order %}
    <tr>
        <td> {{ order.orderTime }} </td>

        <td>
            {% for item in order.items.all %}
            {{ item.name }}<br>
            {% endfor %}
        </td>
        <td>${{ order.total }}</td>
        <td>${{ order.commissions }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}